* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

img {
    object-fit: cover;
}

nav {
    border-bottom: solid #1e293b 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    background-color: #031224;
}

nav .logo, .logo a {
    color: white;
    font-size: 25px;
}

nav .nav-links {
    display: flex;
    align-content: space-between;
    gap: 10px;
}

nav .nav-links a{
    color: #b0b5ba;
}
nav .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .right-section i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e293b;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

nav .right-section .profile  {
    display: flex;
}

nav .right-section .profile .inf {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background-color: #1e293b;
    border-radius: 50px;
}

nav .right-section .profile .inf a {
    color: white;
    
}

nav .right-section .profile .inf p {
    color: #b0b5ba;
    
}

nav .right-section .profile i {
    width: 20px;
    height: 20px;
}

nav .right-section .profile .inf img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid white;
}

